doctype
html( lang="en" )
    head
        title How Many days
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='How many days have you lived?' )


    body(style="padding-bottom:10rem;").container

        script( src='/jquery/dist/jquery.js' )
        script( src='/bootstrap/dist/js/bootstrap.js' )
        link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap.css')
        link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap-theme.css')
        link(rel="stylesheet", href="/jquery-ui/themes/base/jquery-ui.css")
        script(src="/jquery-ui.js")


        .row
            .col-md-12.col-sm-12.col-xs-12
                h3 How Many days v2
            .col-md-6.col-sm-6.col-xs-12
                form#dobForm.form-horizontal(action='api/bears' method='POST')
                    .form-group
                        label.col-sm-4.control-label(for='name') Given Name:
                        .col-sm-8
                            input#given_name.form-control( type="text",name='given_name' )
                    .form-group
                        label.col-sm-4.control-label(for='name') Family Name:
                        .col-sm-8
                            input#family_name.form-control( type="text",name='family_name' )
                    .form-group
                        label.col-sm-4.control-label(for='dob') Date of Birth:
                        .col-sm-8
                            #datePicker.input-group.input-append.date
                                input#dob.form-control( type="text",name='date_of_birth' readonly)
                                span.input-group-addon.add-on
                                    span.glyphicon.glyphicon-calendar
                    .form-group
                        .col-sm-offset-4.col-sm-8
                            button#calculate.btn.btn-default(type="button") Save
            .col-md-6.col-sm-6.col-xs-12
                .panel.panel-default
                    .panel-heading Days lived
                    .panel-body
                        table(style="width:100%;")
                            tr
                                th(style='width:4em;') On Eath
                                th(style='width:4em;') On Mars
                            tr
                                td
                                    h3
                                        span#dayslived
                                td
                                    h3
                                        span#dayslivedmars
            .col-md-12.col-sm-12.col-xs-12
                .panel.panel-default
                    .panel-heading History
                    .panel-body
                        table#history.table
                            thead
                                tr
                                    th(style='width:4em;')
                                    th Date of record
                                    th Given Name
                                    th Family Name
                                    th Date of birth
                                    th Days lived
                                    th Days lived on Mars
                            tbody#rows
                                tr.prototype( style="display:none;")
                                    td
                                        button#calculate.btn.btn-xs.btn-danger(type="button") Remove
                                        p.id(style="display:none")
                                    td
                                    td
                                    td
                                    td
                                    td
                                    td




    script.
        $(document).ready(function () {
            //at load button is disabled since form is empty and invalid
            $('#calculate').attr('disabled','disabled');

            //populate entruy table
            populateHistory();

            //validates form whenever the field receive input
            $("#given_name").on("input",function(){
                validateEnableForm();
            });
            $("#family_name").on("input", function () {
                validateEnableForm();
            });
            $("#dob").on("change", function () {
                console.log($('#dob').val());
                validateEnableForm();
                $('#dayslived').html(generateDays($('#dob').val()));
                $('#dayslivedmars').html(generateMartianDays($('#dob').val()));
            });


            //when the calculte button is pressed, a POST request is sent to the server
            $("#calculate").click(function () {

                var result = generateDays($('#dob').val())
                $('#dayslived').html(result);
                var resultMars = generateMartianDays($('#dob').val())
                $('#dayslivedmars').html(resultMars);
                //saving the entry
                $.post("/api/entry", $("#dobForm").serialize(), function (data, status) {
                    populateHistory();
                    //clear the form
                    $("#dob").val("");
                    $("#given_name").val("");
                    $("#family_name").val("");
                    $('#calculate').attr("disabled","disabled");

                });


            });
        });

        function validateEnableForm(){
            if ($('#given_name').val() != ""
                    && $('#dob').val() != ""
                    && $('#family_name').val() != ""){
                $('#calculate').removeAttr('disabled');
            }
            else
            {
                $('#calculate').attr('disabled', 'disabled');
            }
        }

        //sends get request /api/entry to the server copy an invisible table row element
        //and adds it with returned values to the end of the table
        function populateHistory() {
            $.get("/api/entry", function (data, status) {
                $('#history').find('tbody tr.entries').remove();
                $(data).each(function (index, element) {
                    var entry = $('#rows .prototype').clone().attr("class", "entries");
                    entry.removeAttr("style");
                    entry.find('p.id').html(element._id);
                    entry.find('td').eq(1).html(new Date(element.timestamp).toLocaleDateString());
                    entry.find('td').eq(2).html(element.given_name);
                    entry.find('td').eq(3).html(element.family_name);

                    entry.find('td').eq(4).html(new Date(element.date_of_birth).toLocaleDateString());
                    entry.find('td').eq(5).html(generateDays(element.date_of_birth));
                    entry.find('td').eq(6).html(generateMartianDays(element.date_of_birth));
                    initRemoveBtn(entry);
                    //only show current schema_version entries
                    $('#history').find('tbody#rows').append(entry);
                });
            });
        };

        //each remove button has a click listenner attached
        //that send a DELETE /api/entry/<object id>
        function initRemoveBtn(entry) {
            entry.find('button').on('click', function () {
                var id = entry.find('p.id').html();
                $.ajax({
                    url: '/api/entry/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        populateHistory();
                    }
                });
            });
        }

        function generateDays(dateString) {
            var now = new Date();
            var todayAtMidn = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            var dt = new Date(dateString);
            var result = todayAtMidn.getTime() - dt.getTime();
            var output = (((result / 1000 ) / 60) / 60) / 24;
            output = Math.round(output);
            return output;
        }

        function generateMartianDays(dateString) {
            var now = new Date();
            var todayAtMidn = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            var dt = new Date(dateString);
            var result = todayAtMidn.getTime() - dt.getTime();
            //one martian day lasts for 1 days and 40 minutes
            //so one day is made of 24 hours + 40 minutes = 24 + 2/3
            var output = (((result / 1000 ) / 60) / 60) / (24 + 2/3);
            output = Math.round(output);
            return output;
        }



        var today = new Date();
        $('#dob').datepicker({
            dateFormat: 'd MM, yy',
            weekStart: 1,
            changeMonth: true,
            changeYear: true,
            maxDate: today,
            showAnim: "fold"

        });