doctype
html( lang="en" )
    head
        title How Many days
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )


    body(style="padding-bottom:10rem;").container

        script( src='/jquery/dist/jquery.js' )
        script( src='/bootstrap/dist/js/bootstrap.js' )
        link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap.css')
        link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap-theme.css')

        link(rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker.css")
        link(rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css")
        script(src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")

        link(rel="stylesheet" href="http://formvalidation.io/vendor/formvalidation/css/formValidation.min.css")
        script(src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js")
        script(src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js")
        style(type='text/css').
            #dobForm .form-control-feedback {
                top: 0;
                right: -15px;
            }

        .row
            .col-md-12.col-sm-12.col-xs-12
                h3 Enter your date of birth
            .col-md-6.col-sm-6.col-xs-12
                form#dobForm.form-horizontal(action='api/bears' method='POST')
                    .form-group
                        label.col-sm-4.control-label(for='name') Name:
                        .col-sm-8
                            input#name.form-control( type="text",name='name' )
                    .form-group
                        label.col-sm-4.control-label(for='dob') Date of Birth:
                        .col-sm-8
                            #datePicker.input-group.input-append.date
                                input#dob.form-control( type="text",name='date_of_birth' )
                                span.input-group-addon.add-on
                                    span.glyphicon.glyphicon-calendar
                    .form-group
                        .col-sm-offset-4.col-sm-8
                            button#calculate.btn.btn-default(type="button") Calculate
            .col-md-6.col-sm-6.col-xs-12
                .panel.panel-default
                    .panel-heading Days lived
                    .panel-body
                        h3
                            span#dayslived Ah! Nothing should be here!!
            .col-md-12.col-sm-12.col-xs-12
                .panel.panel-default
                    .panel-heading History
                    .panel-body
                        table#history.table
                            thead
                                tr
                                    th(style='width:4em;')
                                    th Name
                                    th Date of birth
                                    th Days lived
                            tbody#rows
                                tr.prototype( style="display:none;")
                                    td
                                        button#calculate.btn.btn-xs.btn-danger(type="button") Remove
                                        p.id(style="display:none")
                                    td asdf
                                    td asfASDFG
                                    td dsf




    script.
        $("#calculate").click(function () {
            $('#dobForm').formValidation('validate');
            var formValidation = $('#dobForm').data('formValidation');
            var valid = formValidation.isValid();
            if (valid) {
                var result = generateDays($('#dob').val())
                $('#dayslived').html(result);
                //saving the entry
                $.post("/api/bears", $("#dobForm").serialize(), function (data, status) {
                    if (status == "success") {
                        formValidation.resetField('name', true);
                        formValidation.resetField('date_of_birth', true);
                    }
                });

                populateHistory();
            }
        });

        function populateHistory() {
            $.get("/api/bears", function (data, status) {
                $('#history').find('tbody tr.entries').remove();
                $(data).each(function (index, element) {
                    var entry = $('#rows .prototype').clone().attr("class", "entries");
                    entry.removeAttr("style");
                    entry.find('p.id').html(element._id);
                    entry.find('td').eq(1).html(element.name);
                    entry.find('td').eq(2).html(element.date_of_birth);
                    entry.find('td').eq(3).html(generateDays(element.date_of_birth));
                    initRemoveBtn(entry);
                    $('#history').find('tbody#rows').append(entry);
                });
            });
        };

        function initRemoveBtn(entry) {
            entry.find('button').on('click', function () {
                var id = entry.find('p.id').html();
                $.ajax({
                    url: '/api/bears/' + id,
                    type: 'DELETE',
                    success: function (result) {
                        populateHistory();
                    }
                });
            });
        }

        function generateDays(dateString) {
            var now = new Date();
            var todayAtMidn = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            var dt = new Date(dateString);
            var result = todayAtMidn.getTime() - dt.getTime();
            var output = (((result / 1000 ) / 60) / 60) / 24;
            output = Math.round(output);
            return output;
        }

        $(document).ready(function () {
            populateHistory();
            $('.datepicker')
                    .datepicker({
                        format: 'mm/dd/yyyy',
                        weekStart: 1
                    })
                    .on('changeDate', function (e) {
                        // Revalidate the date field
                        $('#dobForm').formValidation('revalidateField', 'date_of_birth');
                    });
            $('#dobForm').formValidation({
                framework: 'bootstrap',
                button: {
                    selector: '#calculate',
                    disabled: 'disabled'
                },
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The name is required'
                            }
                        }
                    },
                    date_of_birth: {
                        validators: {
                            notEmpty: {
                                message: 'The date is required'
                            },
                            date_of_birth: {
                                format: 'MM/DD/YYYY',
                                message: 'The date is not a valid'
                            }
                        }
                    }
                }
            });
        });